<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="handleVideoTag()">
      Toggle Method
    </button>
  </div>
</div>
<hr />
<br />
<div class="row">
  <h3>{{ displayBox ? "Add Video" : "Interval Started" }}</h3>
  <hr />
  <div class="col" *ngIf="displayBox">
    <input type="text" class="form-control" #data />
    <hr />
    <button class="btn btn-success" (click)="capturedata(data.value)">
      Add Video
    </button>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-4">
    <p><strong>User - 01</strong></p>

    <ul>
      <li *ngFor="let item of user1"><strong>Video:</strong> {{ item }}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <p><strong>User - 02</strong></p>

    <ul *ngIf="subscribeMode2">
      <li *ngFor="let item of user2"><strong>Video:</strong> {{ item }}</li>
    </ul>
    <button
      class="btn"
      [ngClass]="subscribeMode2 ? 'btn-danger' : 'btn-success'"
      (click)="handleSubscription()"
    >
      {{ subscribeMode2 ? "Unsubscribe AF" : "Subscribe AF" }}
    </button>
  </div>
  <div class="col-md-4">
    <p><strong>User - 03</strong></p>

    <ul>
      <li *ngFor="let item of user3"><strong>Video:</strong> {{ item }}</li>
    </ul>
    <button
      class="btn"
      [ngClass]="subscribeMode3 ? 'btn-danger' : 'btn-success'"
      (click)="handleSubs3()"
    >
      {{ subscribeMode3 ? "Unsubscribe AF" : "Subscribe AF" }}
    </button>
  </div>
</div>
