<div class="row">
  <div class="col-md-5">
    <ul class="list" style="float: right; display: ruby-base-container">
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="interval"> Interval </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="ofFrom"> Of and From </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="debounce"> Debounce, Debounce When with search </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="fromEvent"> fromEvent </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="retry"> retry, retrywhen, scan and delay </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="take"> Take Demo </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="toArray"> to Array </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="tap"> Tap Demo </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="custom"> custom observable </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="pluck"> pluck observable </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="map"> Map </a>
      </li>
      <li
        style="
          padding: 5px;
          display: inline-block;
          border: 2px solid palevioletred;
          text-decoration-color: pink;

          border-radius: 12px;
          background-color: floralwhite;
          margin: 20px;
          padding: 70px;
        "
      >
        <a routerLink="filter"> Filter </a>
      </li>
    </ul>
  </div>
</div>
