<div class="container">
  <strong>Concat Map Demo</strong>
  <br />
  <hr />
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Map</strong>
      <br />
      <p>Data coming here</p>
      <ul id="mapContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Map + switchall</strong>
      <br />
      <p>Data coming here</p>
      <ul id="mapSwitchAllContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | switch Map</strong>
      <br />
      <p>Data coming here</p>
      <ul id="switchMapContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Source - 04 | Merge Map</strong>
      <br />
      <p>Data coming here</p>
      <ul id="mergeMapContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Source - 04 | concat Map</strong>
      <br />
      <p>Data coming here</p>
      <ul id="concatMapContainer"></ul>
    </div>
  </div>
</div>
