<div class="container">
  <h2><strong> Subject and Behaviour Subject </strong></h2>

  <br />
  <div class="row">
    <div class="col-md-4">
      <h3>
        Username is : <strong class="text-primary">{{ username }}</strong>
      </h3>
    </div>
  </div>
  <hr />
  <br />
  <div class="row">
    <div class="col-md-4">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
      <app-comp3></app-comp3>
    </div>
  </div>
</div>
