<div class="container">
  <p>Concat and Merge</p>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech Chaneel(5)</strong>
      <br />
      <p>Data coming here</p>
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Chaneel(3)</strong>
      <br />
      <p>Data coming here</p>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Chaneel(4)</strong>
      <br />
      <p>Data coming here</p>
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">Your Channel Concat (Subscriber)</div>
        <div class="card-body">
          <ul id="channelConcat"></ul>
        </div>
        <!-- <button class="btn btn-primary" (click)="handleConcat()"> -->
        <!-- Get Data
        </button> -->
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">Your Channel merge (Subscriber)</div>
        <div class="card-body">
          <ul id="channelMerge"></ul>
        </div>
      </div>
      <!-- <button class="btn btn-primary" (click)="handleMerge()">Get Data</button> -->
    </div>
  </div>
</div>
