<div class="container">
    <div class="row">
        <div class="col-md-4">Map Operator Example 1
            <p>Data coming here</p>
            <strong class="text-success">{{msg}}</strong>
        </div>
        <div class="col-md-4">Map ex2
                <p>Data coming here</p>
                <strong class="text-success">{{msg1}}</strong>
        </div>
        <div class="col-md-4">Map ex 3
                <p>Data coming here</p>
                <strong class="text-success"><ul id="fromMapContainer">

                </ul></strong>
        </div>
    </div>
</div>